createdAt: "2019-08-15T01:34:06.771Z"
updatedAt: "2019-08-15T09:02:45.184Z"
type: "MARKDOWN_NOTE"
folder: "9cdb6558d9baed505bc9"
title: "《分布式系统概念与设计》"
tags: [
  "分布式概念"
]
content: '''
  ### 《分布式系统概念与设计》
  
  - #### 概念：分布式系统是一个硬件或软件组件分布在不同的网络计算机上，彼此之间仅仅通过消息传递进行通信和协调的系统
  
  ---
  - ### 通信异常
  
  - ### 网络分区
  
  ### “脑裂”： 当网络发生异常情况，导致分布式系统中部分节点之间的网络延时不断增大，最终导致组成分布式系统的所有节点中，只有部分节点之间能够进行正常通信，而另一些节点则不能--这个现象被称为网络分区，俗称“脑裂”。
  
  ### 每一次请求三态：成功、失败、超时
  
  ---
  
  ### 事务（Transaction）
  
  ### 四个特征（ACID）：
  
  - ### 原子性 （Atomicity）
    #### 事务必须是一个原子的操作序列单元（要么全部执行成功，要么全部执行失败）
  - ### 一致性 （Consistency）
    #### 事务的执行不能破坏数据库数据的完整性和一致性
  - ### 隔离性 （Isolation）
    #### 一个事务内部的操作以及使用的数据对其他并发事务是隔离的，并发执行的各个事务之前不能相互干扰
  - ### 持久性 （Durability）
    #### 事务一旦提交，对数据库的改变就应该是永久性的
    
  ---
  ### 标准SQL 事务隔离级别
  
  ---
  ### CAP 定理
  
  ---
  ### BASE 理论
'''
linesHighlighted: []
isStarred: false
isTrashed: false
